<!DOCTYPE html>
<html>
  <head>
    <title>TaskCard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- フラッシュメッセージ -->
    <% if flash[:notice] %>
      <div class="alert alert-info"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger"><%= flash[:alert] %></div>
    <% end %>

    <!-- ログインしている場合ログアウトリンクを表示 -->
    <% if user_signed_in? %>
      <%= render partial: "layouts/header" %>
    <% end %>

    <%= yield %>
  </body>
</html>
